<html>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <body>
    <form (ngSubmit)="saveTable()">
      <div class="button-container">
        <div id="butn">
          <button class="btn btn-primary mx-auto" (click)="addTable()" id="button1">
          Add Row</button>
          <button class="btn btn-primary mx-auto" (click)="saveTable()" id="button2" type="submit">
          Save Data</button>
          <br />
        </div>
      </div>
      <br />
    <div style="overflow-x:scroll;">
      <table class="style">
        <tr>
          <th>fse_angaza_id</th>
          <th>prospect_id</th>
          <th>status</th>
          <th>status_updated_at</th>
          <th>ticket_id</th>
          <th>approved</th>
          <th>message</th>
          <th>attempt</th>
          <th>country</th>
          <th></th>
        </tr>
        <tr *ngFor="let item of row; let i = index">
          <td><input [(ngModel)]="fse_angaza_id" name="fse_angaza_id" type="text" /></td>
          <td><input [(ngModel)]="prospect_id" name="prospect_id" type="text" /></td>
          <td><input [(ngModel)]="status" name="status" type="text" /></td>
          <td><input [(ngModel)]="status_updated_at" name="status_updated_at" type="text" /></td>
          <td><input [(ngModel)]="ticket_id" name="ticket_id" type="text" /></td>
          <td><input [(ngModel)]="approved" name="approved" type="text" /></td>
          <td><input [(ngModel)]="message" name="message" type="text" /></td>
          <td><input [(ngModel)]="attempt" name="attempt" type="text" /></td>
          <td><input [(ngModel)]="country" name="country" type="text" /></td>
          <td>
            <button (click)="deleteRow(i)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</body>
</html>
