<html>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <body>
      <div class="button-container">
        <div id="butn">
          <button class="btn btn-primary mx-auto" (click)="addRow()" id="button1">
          Add Row</button>
        </div>
      </div>
      <br />
      <div style="overflow-x:scroll;">
        <ngx-spinner
      bdColor = "rgba(51, 51, 51, 0.8)"
      size = "medium"
      color = "#fff"
      type = "ball-scale-multiple"
      [fullScreen]="true">
      <p style="color: white">Loading...</p>
    </ngx-spinner>
        <table class="style">
          <tr>
            <th>fetch_row</th>
            <th>delete_row</th>
            <th>save_row</th>
            <th>update_row</th>
            <th>prospect_id<div *ngIf="prospectControl.hasError('required')" style="color: red; font-size:small;">*Prospect Id is required</div></th>
            <th>fse_angaza_id</th>
            <th>agent_user_name</th>
            <th>customer_name</th>
            <th>status</th>
            <th>customer_phone_number</th>
            <th>customer_secondary_phone_number</th>
            <th>customer_address</th>
            <th>account_number</th>
            <th>product_name</th>
            <th>ticket_type</th>
            <th>otp</th>
            <th>unsuccessful_otp_attempts</th>
            <th>installation_attempted</th>
            <!-- <th>body</th> -->
            <!-- <th>body_registration</th> -->
            <th>latitude</th>
            <th>longitude</th>
            <th>checkin_accuracy</th>
            <th>distance</th>
            <th>area</th>
            <th>is_otp_call_approved</th>
            <th>country</th>
            <th>reassignment_attempt</th>
          </tr>
          <tr *ngFor="let row of rows; let i = index">
            <td><button (click)="getData(i)"><i class="fa fa-refresh"></i></button></td>
            <td><button (click)="deleteRow(i)"><i class="fa fa-trash"></i></button></td>
            <td><button (click)="saveData(row)"><i class="fa fa-floppy-o"></i></button></td>
            <td><button (click)="updateData(row)"><i class="fa fa-pencil-square"></i></button></td>
            <td><input [(ngModel)]="row.prospect_id" name="prospect_id" type="text" [formControl]="prospectControl" />
              
            </td>
            <td><input [(ngModel)]="row.fse_angaza_id" name="fse_angaza_id" type="text" /></td>
            <td><input [(ngModel)]="row.agent_user_name" name="agent_user_name" type="text" /></td>
            <td><input [(ngModel)]="row.customer_name" name="customer_name" type="text" /></td>
            <td>
              <select [(ngModel)]="row.status" name="status">
                <option value="" disabled selected>Select a status</option>
                <option value="PROSPECT">PROSPECT</option>
                <option value="OTP_APPROVED">OTP APPROVED</option>
                <option value="PRE_APPROVED_PROSPECT">PRE APPROVED PROSPECT</option>
                <option value="CHECKED_IN">CHECKED IN</option>
                <option value="PROSPECT_REJECTED">PROSPECT REJECTED</option>
                <option value="REASSIGNMENT_PENDING">REASSIGNMENT PENDING</option>
                <option value="REASSIGNMENT_FAILED">REASSIGNMENT FAILED</option>
                <option value="REASSIGNED">REASSIGNED</option>
                <option value="HARD_CLOSURE">HARD CLOSURE</option>
                <option value="FSE_REASSIGNED">FSE REASSIGNED</option>
                <option value="THREE_WAY_CALL">THREE WAY CALL</option>
                <option value="INSTALLATION_PENDING">INSTALLATION PENDING</option>
                <option value="INSTALLED">INSTALLED</option>
                <option value="INSTALLATION_VERIFIED">INSTALLATION VERIFIED</option>
                <option value="INSTALLATION_REATTEMPT">INSTALLATION REATTEMPT</option>
              </select>
            </td>
            <td><input [(ngModel)]="row.customer_phone_number" name="customer_phone_number" type="text" /></td>
            <td><input [(ngModel)]="row.customer_secondary_phone_number" name="customer_secondary_phone_number" type="text" /></td>
            <td><input [(ngModel)]="row.customer_address" name="customer_address" type="text" /></td>
            <td><input [(ngModel)]="row.account_number" name="account_number" type="text" /></td>
            <td><input [(ngModel)]="row.product_name" name="product_name" type="text" /></td>
            <td><input [(ngModel)]="row.ticket_type" name="ticket_type" type="text" /></td>
            <td><input [(ngModel)]="row.otp" name="otp" type="text" /></td>
            <td><input [(ngModel)]="row.unsuccessful_otp_attempts" name="unsuccessful_otp_attempts" type="text" /></td>
            <td><input [(ngModel)]="row.installation_attempted" name="installation_attempted" type="text" /></td>
            <!-- <td><textarea [(ngModel)]="row.body" name="body" type="text"  style="font-size: small;"></textarea></td>
            <td><textarea [(ngModel)]="row.body_registration" name="body_registration" type="text"  style="font-size: small;"></textarea></td> -->
            <td><input [(ngModel)]="row.latitude" name="latitude" type="text" /></td>
            <td><input [(ngModel)]="row.longitude" name="longitude" type="text" /></td>
            <td><input [(ngModel)]="row.checkin_accuracy" name="checkin_accuracy" type="text" /></td>
            <td><input [(ngModel)]="row.distance" name="distance" type="text" /></td>
            <td><input [(ngModel)]="row.area" name="area" type="text" /></td>
            <td><input [(ngModel)]="row.is_otp_call_approved" name="is_otp_call_approved" type="text" /></td>
            <td><input [(ngModel)]="row.country" name="country" type="text" /></td>
            <td><input [(ngModel)]="row.reassignment_attempt" name="reassignment_attempt" type="text" /></td>
          </tr>
        </table>
      </div>
  </body>
</html>
