<html>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <body>
      <div class="button-container">
        <div id="butn">
          <button class="btn btn-primary mx-auto" (click)="addRow()" id="button1">
          Add Row</button>
        </div>
      </div>
      <br />
      <div style="overflow-x:scroll;">
        <ngx-spinner
      bdColor = "rgba(51, 51, 51, 0.8)"
      size = "medium"
      color = "#fff"
      type = "ball-scale-multiple"
      [fullScreen]="true">
      <p style="color: white">Loading...</p>
    </ngx-spinner>
        <table class="style" >
          <tr>
            <th>fetch_row</th>
            <th>delete_row</th>
            <th>save_row</th>
            <th>update_row</th>
            <th>product_name<div *ngIf="productNameControl.hasError('required')" style="color: red; font-size:small;">*Product Name is required</div></th>
            <th>country</th>
            <th>image_names</th>
            <th>image_urls</th>
            <th>category</th>
        </tr>
        <tr *ngFor="let row of rows; let i = index">
          <td><button (click)="getData(i)"><i class="fa fa-refresh"></i></button></td>
          <td><button (click)="deleteRow(i)"><i class="fa fa-trash"></i></button></td>
          <td><button (click)="saveData(row)"><i class="fa fa-floppy-o"></i></button></td>
          <td><button (click)="updateData(row)"><i class="fa fa-pencil-square"></i></button></td>
          <td><input [(ngModel)]="row.product_name" name="product_name" type="text" [formControl]="productNameControl" /></td>
          <td><input [(ngModel)]="row.country" name="country" type="text" /></td>
          <td><input [(ngModel)]="row.image_names" name="image_names" type="text" /></td>
          <td><input [(ngModel)]="row.image_urls" name="image_urls" type="text" /></td>
          <td><input [(ngModel)]="row.category" name="category" type="text" /></td>
        </tr>
      </table>
    </div>
</body>
</html>
