<router-outlet></router-outlet>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<div class="container-fluid">
  <select [(ngModel)]="selectedOption" class="form-select" aria-label="Disabled select example" >
    <option *ngFor="let option of options" [value]="option.value">{{ option.name }}</option>
  </select>
</div>
  <div *ngIf="selectedOption === ''">
  </div>
<div *ngIf="selectedOption === 'fse-prospect'">
  <app-fse-prospect></app-fse-prospect>
</div>
<div *ngIf="selectedOption === 'fse-prospect-details'">
  <app-fse-prospect-details></app-fse-prospect-details>
</div>
<div *ngIf="selectedOption === 'fse-installation-details'">
  <app-fse-installation-details></app-fse-installation-details>
</div>
<div *ngIf="selectedOption === 'fse-prospect-product-images'">
  <app-fse-prospect-product-images></app-fse-prospect-product-images>
</div>
<div *ngIf="selectedOption === 'staff-users'">
  <app-users></app-users>
</div>
