select {
  background-color: rgb(255, 219, 0);
  border: none;
  position: absolute;
  padding: auto;
  font-size: 100%;  
}
.form-select{
 width: auto;
}
.container-fluid {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.container {
  display: flex;
  justify-content: center;
}

/* img {
  max-width: 100%;
  height: auto;
} */